@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$padding-base : 8px;
$margin-base  : 8px;
$font-primary : 'Open Sans', sans-serif;

:root {
  font-size: 14px;
}

