.content {
  margin      : auto;
  max-width   : 900px;
  width       : 900px;
  font-family : $font-primary;
  font-size   : 16px;
  line-height : 2;
  overflow    : hidden;
  position    : relative;

  iframe {
    width      : 100%;
    height     : auto;
    min-height : 510px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .wp-caption {
    background-color           : rgba(0, 0, 0, 0.1);
    padding                    : $padding-base $padding-base * 2;
    border-bottom-right-radius : 5px;
    border-bottom-left-radius  : 5px;
    width                      : 100%;
    font-size                  : 14px;
    font-style                 : italic;
    text-align                 : center;

    p {
      margin: 0;
    }

    a {
      display    : block;
      text-align : center;
    }

    .wp-caption-text {
      color: black;
    }
  }

  .aligncenter {
    margin: auto;
  }

  table {
    width: 100%;
  }
}
