.contact-form {
  display         : flex;
  flex-wrap       : wrap;
  font-family     : $font-primary;
  font-size       : 18px;
  width           : 100%;
  justify-content : center;
  align-items     : center;

  .display {
    display         : flex;
    flex-basis      : 50%;
    justify-content : flex-end;
    align-items     : center;

    img {
      width     : 100%;
      height    : auto;
      max-width : 260px;
    }
  }

  .form {
    display    : flex;
    flex-wrap  : wrap;
    flex-basis : 50%;
    align-self : flex-start;

    form {
      display    : flex;
      flex-wrap  : wrap;
      flex-basis : 100%;

      label, input, textarea {
        flex-basis : 100%;
        max-width  : 300px;
      }

      input, textarea {
        border    : 1px solid rgba(0, 0, 0, 0.2);
        font-size : 14px;
      }

      textarea {
        resize: none;
      }

      input {
        padding: $padding-base/2;
      }

      .checkbox {
        display     : flex;
        flex-basis  : 100%;
        max-width   : 300px;
        padding-top : $padding-base;
        align-items : center;

        label {
          white-space   : nowrap;
          padding-right : $padding-base;
        }

        input {
        }
      }

      input[type="submit"] {
        color            : white;
        transition       : all 250ms ease-in-out;
        background-color : rgba(0, 0, 0, 0.8);
        margin           : $margin-base * 2 0;
        border-radius    : 5px;
        flex-basis       : initial;
        width            : 310px;
        max-width        : 310px;

        &:hover {
          background-color : black;
          cursor           : pointer;
        }
      }

      label {
        font-size : 14px;
        padding   : 0;
        margin    : 0;

        &:not(:first-child) {
          padding-top: $padding-base;
        }
      }
    }
  }
}
