.cta {
  display     : flex;
  flex-basis  : 100%;
  flex-wrap   : wrap;
  font-family : $font-primary;

  p {
    margin        : auto;
    border-top    : 2px solid #e5e5e5;
    border-bottom : 2px solid #e5e5e5;
    padding       : $padding-base * 3 0;
    font-size     : 16px;
  }

  .button-container {
    display         : flex;
    flex-basis      : 100%;
    justify-content : center;
    margin          : $margin-base * 3 0;

    .link {
      transition       : all 250ms ease-in-out;
      text-align       : center;
      background-color : rgba(0, 0, 0, 0.6);
      color            : white;
      padding          : $padding-base;
      border-radius    : 5px;
      text-decoration  : none;

      &:hover {
        background-color: black;
      }
    }
  }
}
