.gallery {
  width  : 80%;
  margin : auto;

  .row {
    display: grid;
    margin: 5px 0;
    grid-template-columns: 2fr 1fr 1fr;

    grid-gap: 5px;
    grid-template:
          "big small small"
          "big small small";

    a:first-child {
      grid-area: big;
    }

    a {
      img {
        width           : 100%;
        height          : 100%;
        object-position : center center;
        object-fit      : none;
      }
    }

    &.odd {
      grid-template:
            "small small big"
            "small small big";
    }
  }

  @media(max-width: 750px) {
    .row {
      grid-template-columns: 1fr;
      grid-template: "big";

      &.odd {
        grid-template: "big";
      }
    }
  }
}

