.gallery-row {
  display : grid;
  margin  : 8px 0;

  grid-template-areas:
    "small1 small2 big"
    "small3 small4 big";

  grid-gap              : 4px;
  grid-template-rows    : 50% 50%;
  grid-template-columns : 25% 25% 50%;

  &.odd {
    grid-template-areas:
      "big small1 small2"
      "big small3 small4";

    grid-template-rows    : 50% 50%;
    grid-template-columns : 51% 24% 25%; // Consider the gap
  }

  .image {
    display             : block;
    box-sizing          : border-box;
    background-size     : 300px 300px;
    background-position : center center;
    background-repeat   : no-repeat;
    width               : 100%;
    min-height          : 150px;
  }

  .image:first-child {
    grid-area       : big;
    background-size : 400px 400px;
    height          : 300px;
  }

  @for $i from 2 through 5 {
    .image:nth-child(#{$i}) {
      grid-area: small#{$i};
    }
  }
}

