.home {
  .gallery {
    width: 100%;

    .row {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template:
      "big big small small"
      "big big small small";

      &.odd {
      grid-template:
      "small small big big"
      "small small big big";
      }
    }
  }
}

