.navigation {
  display         : flex;
  justify-content : center;
  flex-wrap       : wrap;
  font-weight     : 600;
  margin          : auto;
  font-family     : $font-primary;

  a {
    display         : flex;
    justify-content : center;
    padding-top     : $padding-base * 6;

    .logo {
      transition : opacity 250ms ease-in-out;
      opacity    : 0.8;
    }

    &:hover {
      .logo {
        opacity: 1;
      }
    }
  }

  .links {
    display         : flex;
    flex-basis      : 100%;
    justify-content : center;
    padding         : $padding-base * 3 0 $padding-base * 2 0;

    .menu {
      display    : flex;
      list-style : none;
      padding    : 0;
      margin     : 0;

      .menu-item {
        flex        : 1;
        white-space : nowrap;
        padding     : 0 $padding-base * 2;
        position    : relative;
        align-self  : center;

        .sub-menu {
          display: none;
        }

        &:hover, &:active,
        &:focus {
          .sub-menu {
            display          : block;
            position         : absolute;
            padding          : 0;
            transform        : translateX(-25%);
            list-style       : none;
            box-shadow       : 0px 10px 20px 1px rgba(0, 0, 0, 0.3);
            border           : 1px solid rgba(0, 0, 0, 0.1);
            top              : $margin-base * 2;
            background-color : white;
            border-top       : 0;
            z-index          : 999;

            .menu-item {
              transition    : all 250ms ease-in-out;
              padding       : $padding-base * 2 $padding-base * 4;
              border        : none;
              opacity       : 1;
              border-bottom : 1px solid rgba(0 ,0 ,0, 0.1);

              &:hover {
                background-color : darken(white, 5%);
              }
            }
          }
        }

        &:not(:last-child) {
          border-right : 1px solid rgba(0 ,0 ,0 , 0.3);
        }

        // Custom Links
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          border-right : none;
          padding      : 0;

          a {
            display           : block;
            padding           : 0;
            text-indent       : 100%;
            white-space       : nowrap;
            overflow          : hidden;
            background-image  : url('/wp-content/themes/anahi/dist/images/kichink.jpeg');
            width             : 88px;
            height            : 34px;
            background-repeat : no-repeat;
          }
        }

        &:nth-child(7) {
          a {
            background-image : url('/wp-content/themes/anahi/dist/images/facebook.jpeg');
            width            : 26px;
            height           : 26px;
          }
        }

        &:nth-child(8) {
          a {
            width            : 28px;
            height           : 28px;
            background-image : url('/wp-content/themes/anahi/dist/images/instagram.jpeg');
            margin-left      : $margin-base;
          }
        }

        a {
          transition      : opacity 250ms ease-in-out;
          padding         : 0;
          opacity         : 0.8;
          color           : rgba(0, 0, 0, 0.9);
          text-decoration : none;

          &:hover, &:focus,
          &:active {
            color: rgba(0, 0, 0, 1);
          }

          &:visited {
            color: rgba(0, 0, 0, 0.9);
          }
        }

        &:hover {
          a {
            opacity: 1;
          }
        }
      }
    }
  }
}
